*{
    margin: 0;
    padding: 0;
    
}


.header{
    
    /* background-image:url("../image/background5.jpg");
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute; */
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("../image/background5.jpg");
    top: 0;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    
}
.container-heading{
    position: absolute;
    top: 300px;
    
    
}
.container-heading h1{
    font-size: 60px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-shadow: black;
    text-align: center;
}
.container-heading p{
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin-left: 1rem;
}








/* --------------- 
About us 
--------------- */



/*Team*/
/* .Team{
    background-color: #a2b1ef;
    font-family: "poppins", sans-serif;
}
.container{
    margin:20px 40px;
    color: white;
}
.heading{
    font-size: 60px;
    color: white;
}
.heading span{
    font-style: italic;
    font-size: 30px;
}
.profiles{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.profile img{
    width: 40%;
    height: 50%;
}
 */


